<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<!-- Output author details if some exist. -->
{% if author %}
    <span>
        <!-- Personal Info. -->
        Written by <a href="{{ author.web }}">{{ author.name }}</a>
    </span>
{% endif %}
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
  </body>
</html>